@font-face {
    font-family: 'Open Sans Regular';
    src: url($font-folder +'/opensans-regular-webfont.eot');
    src: url($font-folder +'/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-folder +'/opensans-regular-webfont.woff2') format('woff2'),
         url($font-folder +'/opensans-regular-webfont.woff') format('woff'),
         url($font-folder +'/opensans-regular-webfont.ttf') format('truetype'),
         url($font-folder +'/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url($font-folder +'/opensans-light-webfont.eot');
  src: url($font-folder +'/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-folder +'/opensans-light-webfont.woff2') format('woff2'),
  url($font-folder +'/opensans-light-webfont.woff') format('woff'),
  url($font-folder +'/opensans-light-webfont.ttf') format('truetype'),
  url($font-folder +'/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url($font-folder +'/opensans-bold-webfont.eot');
    src: url($font-folder +'/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-folder +'/opensans-bold-webfont.woff2') format('woff2'),
         url($font-folder +'/opensans-bold-webfont.woff') format('woff'),
         url($font-folder +'/opensans-bold-webfont.ttf') format('truetype'),
         url($font-folder +'/opensans-bold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url($font-folder +'/opensans-semibold-webfont.eot');
    src: url($font-folder +'/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-folder +'/opensans-semibold-webfont.woff2') format('woff2'),
         url($font-folder +'/opensans-semibold-webfont.woff') format('woff'),
         url($font-folder +'/opensans-semibold-webfont.ttf') format('truetype'),
         url($font-folder +'/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
