<div class="grid">
{% for column in page.content|split('<hr />') %}
    <div class="left col-sm-{{ 12 / page.header.mobileItemsPerRow|default(2) }} col-{{ 12 / page.header.itemsPerRow|default(3) }}">{{ column }}</div>
{% endfor %}
</div>
