<div class="joboffer">
  {% for joboffer in page.header.joboffers %}
    <div class="joboffer-item">
      {% set url = joboffer.file|first.path %}
      <a class="link-internal joboffer-item-link" target="_blank" href="{{ url }}">{{ joboffer.file|first.name }}</a>
    </div>
  {% endfor %}
  {% if page.header.joboffers is empty %}
    <p>Momentan gibt es keine Ausschreibungen zu Stellenangeboten</p>
  {% endif %}
</div>
