<div class="journal">
{% set year = null %}
{% for journalissues in page.header.journals %}
  {% if date != journalissues.date|date("Y") %}
    {% set date = journalissues.date|date("Y") %}
    <div class="journal-year">{{ date }}</div>
  {% endif %}
  <div class="journal-issue">
    {% set url = journalissues.file|first.path %}
    <a class="link-internal journal-issue-link" target="_blank" href="/{{ url }}">{{ journalissues.file|first.name }}</a>
  </div>
{% endfor %}
{% if page.header.journals is empty %}
  <p>Momentan sind keine Ausgaben zum Download verfügbar</p>
{% endif %}
</div>
