<div class="slider Wallop Wallop--fade">
  <div class="Wallop-list">
  {% for image in page.media.images %}
    <div class="Wallop-item">
        <img class="js-responsive-img" alt="Helfende Hände" data-lsrc="{{ image.url }}" data-ssrc="{{ image.crop(550,0,750,560).url }}">
    </div>
  {% endfor %}
  </div>
  <div class="Wallop-dots">
  {% for image in page.media.images %}
    {% set current = (loop.first) ? ' Wallop-dot--current' : '' %}
    <div class="Wallop-dot{{ current }}" data-index={{ loop.index0 }}></div>
  {% endfor %}
  </div>
</div>

{{ page.content }}
