{% set csv = csv(page.path() ~ '/' ~ page.header.file | first['name']) %}
{% set day = uri.query('day') %}
{% set id = uri.query('id') %}
{% set categories = config.plugins["csv-reader"].categories %}

{% macro timetable(daylist, categories) %}
  <div class="timetable">
    {% for dayName, day in daylist %}
      <div class="timetable-row timetable-rows-{{ daylist|length }}">
        <div class="timetable-row-header">{{ dayName | slice(0,2) }}</div>
        {% for item in day %}
          {% set color = "" %}
          {% for category in categories %}
            {% if category.text == item[3] %}
              {% set color = category.color %}
            {% endif %}
          {% endfor %}
          {% if item[5] %}
            <a href="?day={{dayName}}&id={{ loop.index }}" class="timetable-item hyphenate" lang="de" style="background: {{ color }};">
              <span class="timetable-item-time">{{ item[0] }}</span>
              <div class="timetable-item-name">{{ item[1] }}</div>
              <div class="timetable-item-desc">{{ item[2] }}</div>
              <span class="timetable-item-link">[»]</span>
            </a>
          {% else %}
            <div class="timetable-item hyphenate" lang="de" style="background: {{ color }};">
              <span class="timetable-item-time">{{ item[0] }}</span>
              <div class="timetable-item-name">{{ item[1] }}</div>
              <div class="timetable-item-desc">{{ item[2] }}</div>
            </div>
          {% endif %}
        {% endfor %}
        <div class="timetable-row-footer">{{ dayName | slice(0,2) }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="legend">
    <hr>
    <h2>Legende</h2>
    {% for category in categories if category.text != "Keine Angebote" %}
    <span class="legend-color" style="background-color: {{ category.color }};"></span>
    <p>
      <strong>{{ category.text }}</strong>. {{ category.description }}
    </p>
    {% endfor %}
    {{ config.plugins["csv-reader"].notice }}
    <hr>
    <a href="javascript:window.print()" class="button button--print">
      <span>Drucken</span>
      <img alt="Seite drucken" src="{{ theme_url }}/images/icons/OdW_Icon_Drucken.svg">
    </a>
  </div>
{% endmacro %}

{% macro detail(daylist, day, id, categories) %}
  {% set item = daylist[day][id-1] %}
  {% set color = "" %}
  {% for category in categories %}
    {% if category.text == item[3] %}
      {% set color = category.color %}
    {% endif %}
  {% endfor %}
  <article class="article timetable-detail" lang="de" style="background: {{ color }};">
    <div class="article-content">
      <a class="button button--back" href="?">Zurück<span>[«]</span></a>
      <h2>{{ item[4] }} / {{ item[1] }}</h2>
      <p>{{ item[5] }}</p>
    </div>
  </article>
{% endmacro %}

{% if day and id and csv[day][id-1][5] %}{# ensure day, itemId and existence of a long description #}
  {{ _self.detail(csv, day, id, categories) }}
{% else %}
  {{ _self.timetable(csv, categories) }}
{% endif %}
