@media print {
  @page {
    size: A4 landscape;
  }

  body {
    transform: scale(0.9);
   transform-origin: center 0;
  }

  .article {
    background-color: inherit !important;
    padding: 0 !important;
    max-width: none !important;
    width: 100% !important;
  }

  .header,
  .header-image,
  .sub-nav,
  .button,
  footer {
    display: none !important;
  }

  .article-content,
  h2 {
    margin: 0 !important;
    padding: 0 !important;
  }

  .timetable-row {
    width: 14.285% !important;
  }

  .timetable {
    page-break-before: avoid;
  }

  .legend {
    margin-top: 2cm;
    page-break-inside: avoid;

    h2 {
      margin-bottom: 10px !important;
    }
  }

}
