<div class="notifications">
  {% for notification in notificationBar_notifications %}
    <div class="notifications-item {{ notification.color }} {{ notification.classes}}" data-id="{{ notification.id }}" data-delay="{{ notification.time }}">
      <div class="notifications-item-content">{{ notification.content }}</div>
    </div>
  {% endfor %}
</div>
