$bp-small: 700px;
$bp-large: 1200px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: $bp-small) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media print, screen AND (min-width: $bp-small) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: $bp-large) {
      @content;
    }
  }

  @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}
