$maxColumns: 12;

@function width($column, $maxColumns: 12) {
  @return 100 / $maxColumns * $column + 0%
}

.grid {
  margin-left: -$gutter / 2;
  overflow: hidden;
  width: calc(100% + #{$gutter} / 2);
  @include clearfix;
}

@for $i from 1 through 12 {
  %width--#{$i} {
    width: width($i)
  }

  .col-#{$i} {
    margin-left: $gutter / 2;
    width: calc(#{width($i)} - #{$gutter} / 2);
  }

  @include respond-to('small') {
    .col-sm-#{$i} {
      margin-left: $gutter / 2;
      width: calc(#{width($i)} - #{$gutter} / 2);
    }
  }
}
