// Colors
$white: #ffffff;
$black: #000000;
$orange: #d65009;
$green: #5a9422;
$lightgreen: #89BC21;
$purple: #88053c;
$blue: #65a9d8;
$yellow: #fab500;
$brown: #5b4e46;
$browngrey: #8c837d;
$grey: #808080;

// FONT STYLES //
$fsregular: 'Open Sans Regular', Helvetica, sans-serif;
$fslight: 'Open Sans Light', Helvetica, sans-serif;
$fssemibold: 'Open Sans Semibold', Helvetica, sans-serif;
$fsbold: 'Open Sans Bold', Helvetica, sans-serif;

  // Spacing
$gutter: 32px;
$max-site-width: 960px;

// File System
$font-folder: '../../fonts';

// ELEMENTS //
$border: 1px solid;
