article {
  a.link-internal:before {
    content: '_ ';
  }
  a.link-internal {
    &:hover {
      color: $green;
    }
  }
  a {
    font-family: $fsbold;
    color: $brown;
    font-size: 0.75rem;
  }
  p {
    a:hover {
      color: $green;
    }
  }
  li {
    a:before {
      content: '';
    }
    a:hover {
      color: $green;
    }
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
