article {
  ul {
    list-style: none;
    margin-left: 10px;
    padding-left: 0;
    li:before {
      content: '_ ';
      margin:0 0 0 -10px;
    }
    &.short {
      margin-left: 10px;
      li {
        margin-bottom: $gutter / 2;
        &:before {
          margin:0 0 0 -10px;
        }
      }
    }
  }
}
