body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;

  @include respond-to("small") {
    font-size: 120%;
  }

  @include respond-to("medium") {
    font-size: 100%;
  }

  @include respond-to("large") {
    font-size: 110%;
  }
}

// -- from component for merging

html {
  font-family: $fsregular;
  color: $brown;

  strong {
    font-family: $fssemibold;
  }

  .notifications-item {
    font-size: 0.6rem;
    @include respond-to('medium') {
      font-size: 0.9rem;
    }
  }

  nav {
    &.sub-nav {
      font-family: $fsbold;
      font-size: 0.7rem;
    }
  }

  .home {
    h1 {
      margin-top: 0;
      @include respond-to('medium') {
        margin-top: $gutter / 2;
      }
    }
  }

  #body {

    h1, h2, h3, h4, span.date {
      font-family: $fslight;
      font-weight: 300;
      font-size: 1.3rem;
      padding-bottom: 0;
    }

    p, span {
      font-size: 0.75rem;
      line-height: 1.25rem;
      strong {
        font-family: $fssemibold;
      }
    }

    article {
      ul {
        font-size: 0.75rem;
        line-height: 1.25rem;
      }
      .journal {
        strong {
          font-size: 0.75rem;
        }
      }
    }

    .news {
      h2 {
        margin-top: 0;
      }
    }

    .timetable {
      font-size: 0.75rem;
        .timetable-row-header,
        .timetable-row-footer {
          font-family: $fslight;
          font-size: 1.75rem;
        }
        .timetable-item-name {
          font-family: $fssemibold;
          font-size: 1rem;
        }
      }

    .legend {
      h3 {
        font-family: $fssemibold;
      }
    }
  }

  header {
    .header-nav {
      li {
        line-height: 1.7;
        font-size: 0.85rem;

        @include respond-to("medium") {
          font-size: 0.7rem;
        }
      }

      .header-nav-list > li {
        line-height: 2;
        font-size: 1rem;

        @include respond-to("medium") {
          font-size: 0.7rem;
        }
      }
    }

    .header-footer-nav-list {
      li {
        font-size: 0.7rem;
        line-height: 1.6;
      }
    }
  }

  footer {
    nav {
      font-family: $fsbold;
      font-size: 0.7rem;
    }
    .disclosure {
      font-family: 'Open Sans Semibold', Helvetica, sans-serif;
      font-size: 0.7rem;
    }
  }

}
