.notifications .notifications-item {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  overflow-y: hidden;
	max-height: 300px;
	transition-property: all;
	transition-duration: .5s;

	.closed {
    max-height: 0;
    padding: 0 16px;
  }

  * {
    color: white;
    margin: 0;
    padding: 0;
  }
}
