.notifications .notifications-item {
  box-sizing: border-box;
  padding: 16px;
  overflow-y: hidden;
  max-height: 100px;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.notifications .notifications-item.closed {
  max-height: 0;
  padding: 0 16px;
}
.notifications .notifications-item * {
  color: white;
  margin: 0;
  padding: 0;
}
