.footer {
  max-width: $max-site-width + ($gutter * 2);
  margin: 0 auto;
  @include clearfix;
}

.disclosure {
  background: #5b4e46;
  box-sizing: border-box;
  color: white;
  padding: 22px;
  text-align: center;
}
