$logoheight: 108px;

.header {
  background: white;
  border-bottom: 1px solid $green;
  position: fixed;
  max-width: $max-site-width + ($gutter * 2);
  top: 0;
  width: 100%;
  z-index: 100;

  @include respond-to("medium") {
    border-bottom: none;
    margin: 0 auto;
    position: relative;
    top: inherit;
    width: inherit;
  }
}

.header-wrapper {
  position: relative;
}

.header-logo {
  display: block;
  margin: 0 auto;
  padding: $gutter / 2 0 $gutter / 2;
  max-width: 300px;
  width: 60%;

  @include respond-to("medium") {
    padding: $gutter 0 $gutter / 2;
  }

  &:before {
    background: $green;
    content: "";
    display: block;
    left: 0;
    height: 1px;
    position: absolute;
    top: $logoheight;
    width: calc(50% - 155px);

    @include respond-to("small") {
      display: none;
    }
  }

  .header-logo-additional {
    color: $green;
    font-weight: bold;
    font-size: 0.2rem;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
    padding-top: 10px;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }

    @include respond-to("medium") {
      text-align: right;
      font-size: 0.62rem;
    }
  }

  & img {
    height: &logoheight;
    position: relative;
    z-index: 1;
  }
}

#header-nav-toggle {
  position: absolute;
  right: $gutter / 2;
  top: $gutter / 2;
  z-index: 101;

  .bar {
    fill: $green;
  }

  @include respond-to("medium") {
    display: none;
  }
}

body.menu-is-open #header-nav-toggle .bar {
  fill: white !important;
}
