img {
  max-width: 100%;
  display: block;
  height: auto;
  @include respond-to('medium') {
    display: initial;
  }
}

.left, .right {
  img {
    margin-bottom: $gutter / 2;
    @include respond-to('medium') {
      margin-bottom: $gutter / 4;
    }
  }
}

.wrapper {
  max-width: $max-site-width + ($gutter * 2);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.box {
  padding-bottom: $gutter;
  h2:first-child {
    margin-top: $gutter * 1.5;
  }
}

.article-content .box:first-child h2 {
  margin-top: $gutter / 2;
}


@include respond-to('medium') {
  .box iframe {
    margin-top: $gutter * 1.5;
  }

  .left {
    h2, p, ul, .journal {
      padding-right: $gutter;
    }
    h2, img {
      &:first-child {
      margin-top: $gutter * 1.5;
      }
    }
    h2 {
      padding-bottom: 0;
      margin-bottom: $gutter / 2;
    }
  }
  .right {
    h2, p, ul, .journal {
      padding-left: $gutter;
    }
    h2, img {
      &:first-child {
        margin-top: $gutter * 1.5;
      }
    }
    h2 {
      padding-bottom: 0;
      margin-bottom: $gutter / 2;
    }
  }
}
