.footer-nav {
  padding: 5px;

  &.border {
    border-top: $border;
    border-color: $green;
  }

  @include respond-to("medium") {
    padding: $gutter / 2;
  }
  & ul {
    @include clearfix;

    & li {
      & a {
        color: $brown;
        box-sizing: border-box;
        display: block;
        padding: $gutter / 2;
        text-align: center;
        width: 100%;

        @include respond-to("medium") {
          float: left;
          width: 25%;
        }
        &:hover {
          color: $green;
        }
      }

      &.selected a {
        color: $green;
      }
    }
  }
}
