.sub-nav {
  display: none;

  &.sub-nav--divided {
    border-bottom: 1px solid $green;
  }

  .sub-nav-list {
    @include clearfix;
  }

  @include respond-to("medium") {
    display: block;

    ul {
      padding: $gutter $gutter * 2;
      li {
        float: left;
        padding-right: $gutter * 2;
        a {
          color: $brown;
        }
      }
    }
  }
}
