.header-nav {
  display: none;
  max-height: 100vh;
  overflow-y: auto;
  padding: $gutter / 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include respond-to("medium") {
    background: none !important;
    display: block;
    margin: 30px 0 40px;
    overflow-y: inherit;
    padding: 0;
    position: relative;
    @include clearfix;
  }

  &.open {
    display: block;
  }
}

.header-nav-list {
  list-style: none;
  height: auto;
  margin: 0;
  padding: 0;

  @include respond-to("small") {
    padding-top: 25px;
  }

  li {
    color: white;

    @include respond-to("medium") {
      color: $green;
      float: left;
      width: 16.666%;

      &:first-child {
        display: none;
      }

      .line {
        display: none;
      }
    }

    &.has-children {
      > a {
        margin-left: 25px;
        width: calc(100% - 25px);

        @include respond-to("medium") {
          margin-left: inherit;
          width: auto;
        }
      }

      i {
        display: inline;
        cursor: pointer;
        font-style: normal;
        left: 0;
        padding-left: $gutter / 2;
        position: absolute;
        width: 25px;

        @include respond-to("medium") {
          display: none;
        }
      }
    }

    &.selected {
      ul.open {
        padding-bottom: 8px;
        position: relative;
        &:after {
          border-bottom: 1px solid white;
          bottom: 2px;
          content: "";
          display: block;
          position: absolute;
          opacity: 0.5;
          width: 100%;
        }
      }

      a {
        color: white;

        .line {
           content: "";
           display: block;
           position: absolute;
           right: 107px;
           height: 0.8px;
           background: white;
           opacity: 0.5;
           bottom: 11px;
         }

        svg {
          .icon {
            fill: white;
          }
        }
      }

      @include respond-to("small") {
        &:first-child {
          .line {
            display: none; // hide line on mobile for home
          }
        }

        svg {
          display: block;
          position: absolute;
          right: 25px;
          width: 95px;
          top: -18px;

          .icon {
            fill: white;
          }
        }
      }
    }

    a {
      color: white;
      display: inline-block;
      position: relative;
      width: 100%;

      @include respond-to("medium") {
        color: $green;
        width: auto;
        text-align: center;

        span {
          display: block;
          margin-top: -35px;
        }

        &:hover {
          color: white;
          svg {
            .icon {
              fill: white;
            }
          }
        }
      }

      svg {
        display: none;

        .canvas,
        .navigationLine {
          fill: transparent;
        }

        @include respond-to("medium") {
          display: block;
          width: 100%;

          .icon,
          .navigationLine {
            fill: $green;
          }
        }
      }
    }
  }

  ul {
    margin: 0 33px 0 0;
    padding: 0 0 0 25px;
    max-height: 0;
    transition: max-height 0.15s;
    overflow: hidden;

    &.open {
      max-height: 1000px;
      padding-bottom: 2px;
      transition: max-height 0.25s;
    }

    @include respond-to("medium")  {
      display: none;
    }
  }
}

.header-footer-nav-list {
  list-style: none;
  margin: 30px 0 0;
  padding: 0;

  @include respond-to("medium") {
    display: none;
  }

  li {
    a {
      color: rgba(255,255,255,0.8);
      display: block;
    }
  }
}
