article {
  &.grey {
    background: #f7f5f6;
  }

  .text {
    padding: 0 $gutter / 2;
    @include respond-to("medium") {
      padding: $gutter $gutter * 2;
    }
  }
  span.logos {
    display: block;
    margin: 0;
    text-align: center;
    img {
    width: 50%;
    height: auto;
    margin: $gutter auto;
      @include respond-to("medium") {
        width: 150px;
        margin: 0 $gutter $gutter $gutter;
      }
    }
  }

}

.ueber-uns {
  span.logos {
    text-align: left;
    img {
      width: 70%;
      margin-top: 0;
      @include respond-to("medium") {
        margin-top: $gutter;
        margin-left: 0;
        width: 250px;
      }
    }
  }
}

body .article {
  @extend .wrapper;
  padding: $gutter / 2;
  @include respond-to("medium") {
    padding: $gutter $gutter * 2;
  }
}
