.banner {
  background: $green;
  display: block;
  width: 100vw;

  @include respond-to("medium") {
    padding: 0;
    position: relative;
    margin-left: -50vw;
    left: 50%;

    @include clearfix;
  }
}
