.button {
  cursor: pointer;
  text-align: center;
  width: 100%;

  &.button--more {
    background: $green;
    border: 1px solid darken($green, 5);
    color: white;
  }

  &.button--back {
    color: white;
    width: 0;
    font-size: 0;
    display: block;
    margin-top: $gutter / 3;
    padding-right: 40px;
    float: right;
    text-align: right;
    overflow: hidden;
    @include respond-to("medium") {
      width: 100px;
      font-size: .65rem;
    }
    span {
      position: absolute;
      display: inline-block;
      margin-top: -8px;
      margin-left: 10px;
      font-size: 1.3rem !important;
      font-family: $fslight;

      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      color: white !important;
      text-decoration: underline;
    }
  }

  &.button--location {
    color: $orange;
    width: 0;
    font-size: 0;
    display: block;
    margin-top: $gutter / 3;
    padding-right: 40px;
    float: right;
    text-align: right;
    overflow: hidden;
    @include respond-to("medium") {
      width: 100px;
      font-size: .65rem;
    }
    img {
      position: absolute;
      display: inline-block;
      margin-top: -8px;
      margin-left: 10px;
      width: 30px;
      height: 30px;
    }
  }

  &.button--program {
    color: $blue;
    width: 0;
    font-size: 0;
    display: block;
    margin-top: $gutter / 3;
    padding-right: 40px;
    float: right;
    text-align: right;
    overflow: hidden;
    @include respond-to("medium") {
      width: 100px;
      font-size: .65rem;
    }
    img {
      position: absolute;
      display: inline-block;
      margin-top: -8px;
      margin-left: 10px;
      width: 30px;
      height: 30px;
    }
  }

  &.button--print {
    color: $brown;
    width: 0;
    font-size: 0;
    display: block;
    margin-top: $gutter / 2;
    padding-right: 40px;
    float: right;
    text-align: right;
    overflow: hidden;
    @include respond-to("medium") {
      display: block;
      width: 100px;
      font-size: .65rem;
      margin-top: $gutter;
      margin-bottom: $gutter;
    }
    @include respond-to("small") {
      display: none;
    }
    img {
      position: absolute;
      display: inline-block;
      margin-top: -8px;
      margin-left: 10px;
      width: 30px;
      height: 30px;
    }
  }

  &.button--bus {
    img {
      width: 120px;
      height: 27px;
    }
  }

}
