hr {
  border-top: $border $green;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 15px;
  margin-bottom: 20px;

  @include respond-to("medium") {
    margin-left: -$gutter * 2;
    margin-right: -$gutter * 2;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.article.grey hr {
  border-top: $border $brown;
  margin-right: 0;
  margin-left: 0;
}
