.header-image {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-bottom: 20px;
  position: relative;
  width: 100vw;

  @include respond-to("medium") {
    display: block;
    min-height: 200px;
    padding-bottom: 0;
  }

  & img {
    display: block;
    height: auto;
    max-width: $max-site-width + ($gutter * 2);
    margin: 0 auto;
    width: 100%;
  }
}
