.home section {
  padding-top: 50px;
  padding-bottom: 0px;

  @include respond-to("medium") {
    padding-bottom: 200px;
  }
}

.home .article {
  padding-left: 0;
  padding-right: 0;
  position: relative;

  @include respond-to("medium") {
    padding-bottom: 114px;
  }
}

.home .grid {
  @include respond-to("small") {
    box-sizing: border-box;
    padding: 0 $gutter / 2;
  }

  .recent-news {
    background: #ADA6A2;
    font-size: 0.85rem;
    padding: 15px 20px 0;
    text-align: left;

    &:last-child {
      padding-bottom: 15px;
    }

    .recent-news-title {
      @extend a.link-internal;

    }
  }

  .teaserbox .teaserbox-hl {
    @include respond-to("medium") {
      height: 30px;
      display: flex;
      font-size: 0.8rem;
      font-family: $fsregular;
      align-items: center;
      justify-content: center;
    }
  }
}

.home .grid:first-child {
  display: inline-block;
  margin-top: -56px;
  @include respond-to("medium") {
    width: 100%;
    margin-top: -$gutter - 50px;
  }
}
.home .grid:last-child {
  display: inline-block;
  padding-top: 10px;
  @include respond-to("medium") {
    width: 100%;
    margin-top: 64px;
    padding-top: 0;
    position: absolute;
    max-width: $max-site-width + (2 * $gutter);
  }
}

.home {
  .map-link {
    display: block;
    color: white;
    font-family: $fssemibold;
    font-size: 0.8rem;
    padding: 10px 20px;
    position: absolute;
    @include respond-to("medium") {
      display: none;
    }
  }
  .map {
    box-sizing: border-box;
    padding: $gutter / 2;
    width: 100%;

    @include respond-to("medium") {
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 32;
      max-width: 460px;
      width: 45%;
    }
  }
}

.home .text {
  padding-bottom: 25px;

  @include respond-to("medium") {
    padding-top: 0;
    padding-bottom: 70px;
  }
}


.home .grid {
  @include respond-to("medium") {
    margin-left: 0;
    width: calc(100% - #{$gutter}) !important;

    .col-4, .col-6 {
      margin-left: $gutter;
    }

    .col-4 {
      width: calc(33.3333% - #{$gutter});
    }
    .col-6 {
      width: calc(50% - #{$gutter});
    }
  }
}
