.journal {
  padding-bottom: $gutter;
  .journal-year {
    font-family: $fssemibold;
    font-size: 0.85rem;
    padding-top: $gutter / 1.25;
    @include respond-to("medium") {
      &:first-child {
        margin-top: $gutter / 2;
      }
    }
  }
}
