.legend {
  hr {
    margin-bottom: $gutter;
    margin-top: $gutter * 1.25;
  }
  @include clearfix;
  .legend-color {
    display: block;
    position: absolute;
    margin-top: $gutter / 5;
    width: 30px;
    height: 30px;
  }
  .legend-footnote {
    font-weight: bold;
    font-size: .6rem;
  }
  p {
    padding-left: $gutter * 1.5;
    span {
      vertical-align: super;
    }
  }
}
