.news {
  p:first-child {
    padding-bottom: $gutter * 1.5;
  }
  & > div {
    padding: $gutter * 0.5 0;
    @include respond-to("medium") {
      padding: $gutter * 1.5 0 $gutter 0;
    }
  }
  .left img:first-child,
  .right img:first-child {
    margin-top: $gutter * 0.15;
  }
}
