.notifications {
  @extend .wrapper;

  .notifications-item {
    text-align: center;

    button {
      background-color: transparent;
      text-decoration: underline;
      border: none;
    }

    &.hide {
      display: none;
    }
  }
}
