$colors: (
  "green": $green,
  "lightgreen": $lightgreen,
  "orange": $orange,
  "purple": $purple,
  "blue": $blue,
  "yellow": $yellow,
  "grey": $browngrey
);

@each $colorName, $color in $colors {
  .#{$colorName} .header-image,
  .article .#{$colorName},
  .notifications .notifications-item.#{$colorName} {
    background-color: $color;
  }

  .#{$colorName} .header-nav {
    background-color: rgba($color, 0.9);
  }

  .#{$colorName} .sub-nav li.selected a,
  .#{$colorName} .sub-nav li:hover a,
  .#{$colorName} .article a:hover,
  .#{$colorName} .article a:active {
    color: $color;
  }

  @include respond-to("medium") {
    .header-nav-list li.selected.#{$colorName} svg .canvas,
    .header-nav-list li.#{$colorName}:hover svg .canvas {
      fill: $color;
    }
  }
}
