.slider {
  margin-bottom: 30px;
  width: 100%;

  @include respond-to("medium") {
    margin-bottom: 0;
    float: right;
    width: 70%;
    max-width: 750px;
  }

  img {
    display: block;
  }
}

.Wallop-dots {
  bottom: 15px;
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);

  @include respond-to("medium") {
    left: inherit;
    transform: none;
    right: 40px;
  }

  @include clearfix;
  .Wallop-dot {
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    height: 20px;
    float: left;
    margin: 10px;
    width: 20px;


    &.Wallop-dot--current {
      background: rgba(255,255,255,0.5);
    }
  }
}
