.teaserbox {
  color: white;
  margin: 0;
  padding-bottom: $gutter / 2;
  & a:hover {
    color: white !important;
    @include respond-to("medium") {
      &:after {
        background: #5b4e46;
        content: "";
        display: block;
        position: absolute;
        background-blend-mode: multiply;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
      }
    }
  }

  .teaserbox-hl {
    font-family: $fsbold;
    padding: 10px;
    position: relative;
    z-index: 15;
  }

  a {
    color: white;
    display: block;
    position: relative;
    text-align: center;

    img {
      display: inherit;
      margin-bottom: 0;
    }
  }
}
