.timetable {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;

  @include respond-to("medium") {
    border-top: $border;
    border-color: $brown;
    position: relative;
  }

  .timetable-row {
    white-space: nowrap;
    width: auto;

    @include respond-to("medium") {
      box-sizing: border-box;
      float: left;
      padding-bottom: 100px;
      padding-right: 10px;
      width: 14.285%;

      &:last-child {
        padding-right: 0;
      }
    }
    @include respond-to("small") {
      @include clearfix;
    }

    .timetable-row-header,
    .timetable-row-footer {
      display: inline-block;
      margin-top: 25vw;
      width: 15%;

      @include respond-to("medium") {
        display: block;
        margin-top: 0;
        text-align: center;
        padding: $gutter 0;
        width: auto;
      }
    }

    a.timetable-item:hover .timetable-item-name {
      text-decoration: underline;
    }

    // clearfix global link style
    a.timetable-item:hover,
    a.timetable-item:active {
      text-decoration: none;
      color: white;
    }

    .timetable-item {
      box-sizing: border-box;
      color: white;
      display: inline-block;
      min-width: 45vw;
      height: 50vw;
      margin: 10px;
      padding: 20px;
      position: relative;
      vertical-align: top;
      white-space: normal;

      @include respond-to("medium") {
        display: block;
        height: auto;
        padding: $gutter / 2;
        margin: 0 0 10px 0;
        width: auto;
        min-width: inherit;
      }

      .timetable-item-time {
        font-size: 0.8rem;
        font-family: $fssemibold;
      }

      .timetable-item-name {
        margin-top: 0px;
        font-family: $fssemibold;

        @include respond-to("medium") {
          padding-top: 3px;
        }
      }

      .timetable-item-desc {
        font-size: 0.8rem;
      }
    }

    .timetable-row-footer {
      display: none;

      @include respond-to("medium") {
        display: block;
        position: absolute;
        bottom: 0px;
        width: calc(14.285% - 10px);
      }
    }
  }
}

.timetable-detail {
  color: white;
}
