@media print {
  body {
    transform: scale(0.8);
   transform-origin: center 0;
  }
  .header,
  .header-image,
  .sub-nav,
  .button,
  footer {
    display: none !important;
  }

  .article-content,
  h2 {
    margin: 0 !important;
    padding: 0 !important;
  }

  .timetable-row {
    width: 14.285% !important;
  }

  .timetable {
    page-break-inside: avoid;
  }
}
