{% set body_classes = page.header.body_classes ~ page.header.pageColor ~ ' ' ~ page.slug %}

{% extends 'partials/base.html.twig' %}

{% block header_end %}
  {% if page.header.headerImage %}
  <div class="header-image">
      {{ page.media[page.header.headerImage|first.name].html('',page.header.headerImageAlt) }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
    <article class="article{{ (page.header.wrapperBackground) ? ' grey' : '' }}">
        <div class="article-content">
            {{ page.content }}
        </div>
    </article>
{% endblock %}
