{% set body_classes = page.header.body_classes ~ page.header.pageColor ~ ' ' ~ page.slug %}
{% set day = uri.query('day') %}
{% set id = uri.query('id') %}

{% extends 'partials/base.html.twig' %}

{% block header_end %}
  {% if page.header.headerImage %}
  <div class="header-image">
      {{ page.media[page.header.headerImage|first.name].html('',page.header.headerImageAlt) }}
  </div>
  {% endif %}
{% endblock %}
{% block content %}
  {% if day and id %}
    {{ page.children|first.content }}
  {% else %}
    <article class="article{{ (page.header.wrapperBackground) ? ' grey' : '' }}">
        <div class="article-content">
            {{ page.content }}
        </div>
    </article>
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% if theme.env == 'dev' %}
    {% do assets.addCss('theme://dist/css/programm--print.css', 98, { 'group':'dev' }) %}
  {% else %}
    {% do assets.addCss('theme://dist/css/programm--print.min.css', 98, { 'group':'live' }) %}
  {% endif %}
{% endblock %}
