{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {% include 'partials/favicons.html.twig' %}
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
      {% if theme.env == 'dev' %}
        {% do assets.addCss('theme://dist/css/index.css', 98, { 'group':'dev' }) %}
      {% else %}
        {% do assets.addCss('theme://dist/css/index.min.css', 98, { 'group':'live' }) %}
      {% endif %}
      {% do assets.addCss('theme://node_modules/wallop/css/wallop.css', 97, { 'group':'live' }) %}
      {% do assets.addCss('theme://node_modules/wallop/css/wallop--fade.css', 96, { 'group':'live' }) %}
    {% endblock %}

    {{ assets.css() }}

    {% block javascripts %}
      {% if theme.env == 'dev' %}
        {% do assets.addJs('theme://dist/js/app.js', {'priority':102, 'loading':'async'}) %}
      {% else %}
        {% do assets.addJs('theme://dist/js/app.min.js', {'priority':102, 'loading':'async'}) %}
      {% endif %}
    {% endblock %}

{% endblock head%}
</head>
<body class="{{ body_classes }}">

{% block header %}
  <header class="header">
    {% include 'notification-bar.html.twig' %}
    <div class="header-wrapper">
      <a class="header-logo" href="{{ base_url == '' ? '/' : base_url }}">
        <img src="{{ theme_url }}/images/Op_de_Wisch_Logo.svg">
      </a>
      <div id="header-nav-toggle">
        {% set hamburger = theme_url ~ "/images/icons/OdW_Icon_Hamburger_40x40px.svg" %}
        {{ hamburger | filecontent }}
      </div>
    </div>
    {% include 'partials/navigation.html.twig' %}
  </header>
  {% block header_end %}{% endblock %}
  {% include 'partials/navigation-sub.html.twig' %}
{% endblock %}

{% block body %}
    <section id="body">
      {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
  <footer class="footer">
    {% block footer_navigation %}
        {% include 'partials/navigation-footer.html.twig' %}
    {% endblock %}
    <div class="disclosure">
      © Op de Wisch e.V. Alle Rechte vorbehalten.
    </div>
  </footer>
{% endblock %}
{% block bottom %}
  {{ assets.js() }}
{% endblock %}
{{ cookiespolicy_markup }}
</body>
