{% macro loop(page, header) %}
    {% for p in page.children.visible if header != p.header.footerPage %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}

        {% if (p.children.visible.count > 0) and p.header.submenu %}
            <li class="has-children {{ current_page }}">
                <i class="js-navigation--trigger">+</i>
                <a href="{{ p.url }}">
                    {{ p.menu }}
                </a>
                <ul>
                    {{ _self.loop(p, header) }}
                </ul>
            </li>
        {% else %}
            <li class="{{ current_page }}">
                <a href="{{ p.url }}">
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}

    {% endfor %}
{% endmacro %}
<nav class="footer-nav{{ (page.header.wrapperBackground and not page.home) ? '' : ' border' }}">
  {{ debug(page.parent.name) }}
    <ul class="footer-nav-list">
        {{ _self.loop(pages, false) }}
    </ul>
</nav>
