{% macro loop(page, header) %}
    {% for p in page.children.visible if header != p.header.footerPage %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}

        {% if (p.children.visible.count > 0) %}
            <li class="{{ p.slug }} has-children {{ current_page }} {{ p.header.pageColor }}">
                <i class="js-navigation--trigger">+</i>
                <a href="{{ p.url }}">
                  {% if p.header.navigationIcon %}
                    {{ filecontent("/" ~ p.header.navigationIcon|first.path) }}
                    <span class="line"></span>
                  {% endif %}
                  <span class="header-nav-list-item">
                    {{ p.menu }}
                  </span>
                </a>
                <ul>
                    {{ _self.loop(p, header) }}
                </ul>
            </li>
        {% else %}
            <li class="{{ p.slug }} {{ current_page }} {{ p.header.pageColor }}">
              <a href="{{ p.url }}">
                {% if p.header.navigationIcon %}
                  {{ filecontent("/" ~ p.header.navigationIcon|first.path) }}
                  <span class="line"></span>
                {% endif %}
                <span class="header-nav-list-item">
                  {{ p.menu }}
                </span>
              </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<nav class="header-nav">
    <ul class="header-nav-list">
        {{ _self.loop(pages, true) }}
    </ul>
    <ul class="header-footer-nav-list show-s">
        {{ _self.loop(pages, false) }}
    </ul>
</nav>
