{% if(page.parent.root()) %}
    {% set pages = page.children.routable %}
{% else %}
    {% set pages = page.parent.children.routable %}
{% endif %}
{% if pages|length > 0 %}
<nav class="sub-nav wrapper {{ (page.header.wrapperBackground) ? '' : ' sub-nav--divided' }}">
    <ul class="sub-nav-list">
        {% for page in pages if page.routable %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
